beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
colorama==0.3.9
Django==1.11.6
idna==2.6
lazy-object-proxy==1.3.1
lxml==4.9.1
olefile==0.44
pdfminer==20140328
pdfminer3k==1.3.1
Pillow==4.3.0
ply==3.10
py==1.4.34
pyparsing==2.2.0
pyPdf==1.13
pytest==3.2.3
pytz==2017.2
requests==2.18.4
six==1.11.0
svgwrite==1.1.11
Tree==0.2.3
urllib3==1.22
